/* {{{ Intro Box */
#page .intro-box {
    position: relative;
    width: 271px;
    height: 100%;
}
#page .intro-box:before,
#page .intro-box:after {
    display: block;
    content: "";
    width: 271px;
    height: 5px;
    background: transparent url("../images/boxes-sprite.png") no-repeat 0 0;
    position: relative;
    z-index: 1;
}
#page .intro-box:after {
    background-position: 0 -13px;
}
#page .intro-box-content {
    background-color: #ff8200;
    padding: 15px 19px;
    color: #fff;
}
#page .intro-box-content h3 {
    margin-bottom: 15px;
}
#page .intro-box-content ul {
    padding-left: 18px;
}
#page .intro-box-content ul li {
    font-size: 14px;
    color: #f1c400;
}
#page .intro-box-content ul li + li {
    padding-top: 15px;
}
#page .intro-box-content ul li span {
    color: #fff;
}
/* }}} END Intro Box */

/* {{{ Posts Box */
#page .posts-box {
    position: relative;
    width: 300px;
}
#page .posts-box:before {
    display: block;
    content: "";
    height: 4px;
    background: transparent url("../images/boxes-sprite.png") no-repeat 0 -95px;
    position: relative;
    margin-bottom: -2px;
}
#page .posts-box-content {
    border-left: 2px solid #ff8200;
    border-right: 2px solid #ff8200;
}
#page ul.posts-box-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 2px solid #ff8200;
}
#page ul.posts-box-tabs li {
    display: table-cell;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
#page ul.posts-box-tabs li.active {
    color: #ff8200;
    cursor: default;
}
#page ul.posts-box-tabs li + li {
    border-left: 2px solid #ff8200;
}
#page ul.posts-box-list {
    list-style-type: none;
    border-bottom: 1px solid #ff8200;
}
#page ul.posts-box-list li {
    padding: 7px 15px;
}
#page ul.posts-box-list li h2 {
    font-size: 12px;
    font-weight: bold;
}
#page ul.posts-box-list li h2 a,
#page ul.posts-box-list li h2 a:hover {
    color: #75787B;
    text-decoration: none;
}
#page ul.posts-box-list li + li {
    border-top: 1px solid #f1f2f2;
}
#page .posts-show-more {
    margin: 0 -2px;
    position: relative;
    background: #fff url("../images/boxes-sprite.png") no-repeat 0 -43px;
}
#page .posts-show-more > a {
    line-height: 48px;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 0 17px;
    font-weight: bold;
}
#page .posts-show-more > a:hover {
    color: #fff !important;
}
#page .post-info {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 7px;
}
#page .post-info > div {
    display: table-cell;
    vertical-align: bottom;
}
#page .active-info {
    color: #ff8200;
}
#page .post-stat {
    text-align: right;
}
#page .post-stat > span {
    margin-right: 2px;
}
#page .post-stat > span:before {
    display: inline-block;
    content: "";
    width: 14px;
    height: 12px;
    margin-right: 2px;
    vertical-align: middle;
    background: transparent url("../images/post-sprite.png") no-repeat;
}
#page .post-stat span.comments:before {
    background-position: 0 -20px;
}
#page .post-stat span.views:before {
    background-position: -18px -19px;
}
#page .post-stat span.likes:before {
    background-position: -35px -21px;
    vertical-align: baseline;
}
/* }}} END Posts Box */

/* {{{ Join Box */
#page .join-box {
    width: 271px;
    margin-top: 35px;
    text-align: center;
}
#page .join-box:before,
#page .join-box:after {
    display: block;
    content: "";
    width: 272px;
    height: 5px;
    background: transparent url("../images/boxes-sprite.png") no-repeat;
}
#page .join-box:before {
    background-position: 0 -22px;
}
#page .join-box:after {
    background-position: 0 -33px;
}
#page .join-box-content {
    padding: 20px 0;
    background-color: #1b364c;
    color: #fff;
}
#page .compose-post-btn {
    width: 230px;
    margin-top: 20px;
    border: 0 none;
    background: url(../images/boxes-sprite.png) no-repeat -304px -31px;
    color: #fff;
    font: bold 14px/30px "Verdana", Geneva, sans-serif;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    padding: 4px 8px 8px 4px;
}
#page .join-box-extended {
    width: 188px;
    height: 210px;
    margin-top: 35px;
    padding: 40px;
    background: url(../images/boxes-sprite.png) no-repeat 0 -199px;
}
#page .join-box-extended h2 {
    color: #ff8200;
    font-weight: normal;
}
#page .join-box-extended ul {
    margin: 16px 0 0 18px;
}
#page .join-box-extended ul li {
    color: #ff8200;
}
#page .join-box-extended ul li + li {
    padding-top: 9px;
}
#page .join-box-extended ul li > span {
    color: #fffffe;
}
#page .join-box-extended .compose-post-btn {
    width: 178px;
    height: 45px;
    background-position: -538px -47px;
    font-size: 10px;
    line-height: 100%;
}
/* }}} END Join Box */

/* {{{ Category Box */
#page .category-box-title {
    margin-bottom: 10px;
    padding: 0 20px;
    color: #ff8200;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
    height: 1%;
}
#page .category-box-title .reset {
    float: right;
    font-weight: normal;
    text-decoration: underline;
    color: #ff8200;
}
#page .category-box-title .reset:hover {
    text-decoration: none;
}
#page .category-box:before,
#page .category-box:after {
    display: block;
    content: "";
    width: 270px;
    height: 5px;
    background: transparent url("../images/boxes-sprite.png") no-repeat;
}
#page .category-box:before {
    background-position: -304px -94px;
}
#page .category-box:after {
    background-position: -304px -105px;
}
#page .category-box-content {
    width: 228px;
    padding: 20px;
    border-left: 1px solid #ff8200;
    border-right: 1px solid #ff8200;
}
#page .category-box-content .category-title {
    color: #1b364c;
    cursor: default;
}
#page .category-box-content ul {
    list-style-type: none;
}
#page .category-box-content ul li + li {
    padding-top: 15px;
}
#page .category-box-content ul.subcategory-list {
    margin-left: 10px;
}
#page .category-box-content ul.subcategory-list li {
    padding: 15px 0 0;
}
#page .category-box-content ul.subcategory-list li a:before {
    display: block;
    float: left;
    content: ">";
    min-height: 25px;
    margin-right: 5px;
}
#page .category-box-content ul.subcategory-list li a {
    color: #75787b;
    text-decoration: none;
}
#page .category-box-content ul.subcategory-list li a:hover {
    color: #1b364c !important;
}
#page .category-box-content ul.subcategory-list li.active a,
#page .category-box-content ul.subcategory-list li.active a:hover {
    color: #ff8200 !important;
    font-weight: bold;
}
/* }}} END Category Box */
#page .new-feature {
    position: relative;
}
#page .new-feature .new-feature-title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ee7d04;
    bottom: 20px;
    left: 0;
}