#page .footer {
    position: relative;
    padding-top: 40px;
}
#page .footer-body {
    width: 100%;
    height: 65px;
    padding: 35px 30px 15px;
    box-sizing: border-box;
    background: #DFEDF5;
}
#page .footer-body a {
    color: #0CA2DA;
    text-decoration: none;
}
#page .footer-logo {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 200px;
    height: 110px;
    background: url(../images/footer-logo.png) right bottom no-repeat;
}
#page .footer-bottom {
    position: relative;
    height: 9px;
    background: #DFEDF5;
}
#page .footer-bottom:before,
#page .footer-bottom:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 9px;
    height: 9px;
}
#page .footer-bottom:before {
    left: 0;
    background: #fff url(../images/boxes-sprite.png) -321px -1px no-repeat;
}
#page .footer-bottom:after {
    right: 0;
    background: #fff url(../images/boxes-sprite.png) -336px -1px no-repeat;
}