#page .header {
    height: 82px;
    margin-bottom: 40px;
    background: url("/sites/Novorapidsharingplatform/System/images/boxes-sprite.png") no-repeat 0 -115px;
}
#page .header-title {
    padding: 0 28px;
    line-height: 82px;
}
#page .home-title,
#page.home-page .header-title {
    display: none;
}
#page.home-page .home-title {
    display: block;
}