#page {
    width: 940px;
}
#page,
#page .layout-container,
#page [class*='layout-col-'] {
    box-sizing: border-box;
}
#page .layout-container {
    width : 100%;
    max-width : 940px;
    margin: 0 auto;
}
#page .layout-row {
    margin: 0 -10px;
}
#page .layout-row:before,
#page .layout-row:after {
    content: '';
    display: table;
    clear: both;
}
#page [class*='layout-col-'] {
    float: left;
    min-height: 1px;
    padding: 0 10px;
}
#page .layout-col-1 {
    width: 33.33%;
}
#page .layout-col-2 {
    width: 66.66%;
}
#page .layout-col-3 {
    width: 100%;
}

#page .justified-layout {
    text-align: justify;
    line-height: 0;
}
#page .justified-layout:after {
    width: 100%;
    height: 0;
    overflow: hidden;
    content: '';
    display: inline-block;
}
#page .justified-layout > .justified-column {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    line-height: normal;
}