/* popup overlay */
#page .popup-wrapper {
    background: url("../images/popup-bg.png");
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
#page .popup-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* popup */
#page .popup {
    left: 50%;
    margin-left: -330px;
    width: 661px;
    display: inline-block;
    vertical-align: middle;
}
#page .popup-close {
    position: absolute;
    top: 7px;
    right: 26px;
    outline: none;
    cursor: pointer;
    z-index: 100;
}
#page .popup .step-processing {
    height: 400px;
    background: url("/sites/Novorapidsharingplatform/System/images/preloader.gif") no-repeat 50% 50%;
}
#page .popup .step-final,
#page .popup .step-error {
    padding: 80px 0 !important;
    text-align: center;
}
#page .popup .step-final h2,
#page .popup .step-error h2 {
    padding-bottom: 0 !important;
}
/* popup typography */
#page .popup,
#page .popup div {
    font-size: 14px !important;
    color: #75787b !important;
}
#page .popup h2 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 30px;
}
#page .popup .field-title {
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 0 10px;
    padding: 0 40px 0 0;
}
#page .popup .field-title span {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
/* fields */
#page .popup .text-field .rounded-content, #page .popup .text-area .rounded-content {
    padding: 0 30px 0 20px;
}
#page .popup .text-field input, #page .popup .text-area textarea {
    width: 100%;
    border: none;
    outline: none;
    color: #75787b;
    font: 14px Verdana, Geneva, sans-serif;
}
#page .popup .text-area textarea {
    height: 110px;
    font-size: 12px;
    overflow: auto;
    resize: none;
}
#page .popup .text-area:active,
#page .popup .text-area:focus {
    outline: none;
}
/* dropdown */
#page .dropdown {
    width: 295px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}
#page .dropdown-box {
    cursor: pointer;
}
#page .dropdown.expanded > .corners-bottom:before, #page .dropdown.expanded > .corners-bottom:after {
    display: none;
}
#page .dropdown.expanded > .corners-bottom span {
    left: 0;
    right: 0;
    border-left: 1px solid #bebfc1;
    border-right: 1px solid #bebfc1;
}
#page .dropdown-box > .rounded-content {
    height: 22px;
    padding: 0 30px 0 20px;
}
#page .dropdown-box > .rounded-content .dropdown-box-title {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
#page .dropdown .icon-triangle-orange-up, #page .dropdown .icon-triangle-orange-down {
    position: absolute;
    top: 5px;
    right: 12px;
}
#page .dropdown.collapsed .icon-triangle-orange-down {
    display: none;
}
#page .dropdown.expanded .icon-triangle-orange-up {
    display: none;
}
#page .popup-wrapper .text-field {
    margin-bottom: 20px;
}
#page .popup-wrapper .notification {
    font-size: 13px;
    color: #fff;
    padding-top: 15px;
    font-weight: bold;
}
/* dropdown options */
#page .dropdown-options {
    position: absolute !important;
    width: 100%;
    top: 100%;
    margin-top: 3px;
}
#page .dropdown.collapsed .dropdown-options {
    display: none;
}
#page .dropdown ul {
    list-style: none;
    background-color: #1c374d;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#page .dropdown ul li {
    border-top: 1px solid #fff;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
#page .dropdown ul li:first-child {
    border-top: none;
}
#page .dropdown ul li:last-child {
    padding-bottom: 2px;
}
/* attachments */
#page div[file-manager] *, div[file-manager] a:hover {
	color: #fff !important;
}
#page div[file-manager] ul  {
	list-style: none;
}
#page div[file-manager] ul > li {
	margin-top: 10px;
}
#page div[file-manager] ul > li:firts {
	margin-top: 0;
}
#page div[file-manager] ul > li > a {
	margin-left: 12px !important;
}
#page div[file-manager] > a {
	top: 10px;
    position: relative;
}
#page .popup div#uploadBox * {
	color: #fff !important;
}
#uploadBox .mainContainer {
	height: 42px;
}
#uploadBox .iFrameWindow {
	width: 65%;
	left: 0;
}
#uploadBox .buttonPane {
	left: 65%;
	display: table;
}
#uploadBox .upload_button {
    display: table-cell;
	vertical-align: middle;
    font-weight: bold;
    text-decoration: underline;
}
#uploadBox  > strong, #uploadBox .spwidget-msg {
	font-style: italic;
}
#uploadBox  > strong {
	font-size: 12px;
}
#uploadBox .spwidget-error-cntr {
	top: 32px;
	padding-left: 44px;
	width: 95%;
}
#uploadBox .spwidget-error-cntr .spwidget-msg {
	font-size: 10px;
	line-height: 0.7em;
}

/* upload button */
#page .upload-button {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    float: right;
	margin-top: 20px !important;
}
/* rounded corners */
#page .rounded-container {
    position: relative;
}
#page .corners-top, #page .corners-bottom {
    width: 100%;
    position: absolute;
}
#page .corners-top {
	bottom: 100%;
}
#page .corners-top:before, #page .corners-top:after,
#page .corners-bottom:before, #page .corners-bottom:after {
    content: "";
    display: block;
    background: url("../images/popup-sprite.png");
    position: absolute;
}
#page .corners-bottom:before,
#page .corners-bottom:after {
    top: -1px;
}
#page .corners-top:before, #page .corners-bottom:before {
    left: 0;
}
#page .corners-top:after, #page .corners-bottom:after {
    right: 0;
}
#page .corners-top span, #page .corners-bottom span {
    position: absolute;
}
#page .corners-bottom span {
    top: 0;
}
#page .rounded-content:after {
    content: "";
    display: block;
    clear: both;
}
/* orange rounded corners */
#page .orange-corners {
    margin-top: 19px;
    margin-bottom: 19px;
    background-color: #ff8200;
}
#page .orange-corners > .corners-top, #page .orange-corners > .corners-bottom {
    height: 19px;
}
#page .orange-corners > .corners-top:before, #page .orange-corners > .corners-top:after,
#page .orange-corners > .corners-bottom:before, #page .orange-corners > .corners-bottom:after {
    width: 20px;
    height: 20px;
}
#page .orange-corners > .corners-top:before {
    background-position: -75px 0;
}
#page .orange-corners > .corners-top:after {
    background-position: 0 0;
}
#page .orange-corners > .corners-bottom:before {
    background-position: -50px 0;
}
#page .orange-corners > .corners-bottom:after {
    background-position: -25px 0;
}
#page .orange-corners > .corners-top span, #page .orange-corners > .corners-bottom span {
    height: 19px;
    background-color: #ff8200;
    left: 19px;
    right: 19px;
}
#page .orange-corners > .corners-top span:before, #page .orange-corners > .corners-bottom span:before {
    content: "";
    display: block;
    border-top: 3px dashed #f1c400;
    height: 0;
}
#page .orange-corners > .corners-top span:before {
    margin-top: 11px;
}
#page .orange-corners > .corners-bottom span:before {
    margin-top: 5px;
}
#page .orange-corners > .rounded-content {
    margin: 0 11px;
    border-left: 3px dashed #f1c400;
    border-right: 3px dashed #f1c400;
    padding: 7px 12px;
}
/* white rounded corners */
#page .white-corners {
    margin-top: 9px;
    margin-bottom: 9px;
}
#page .white-corners > .corners-top, #page .white-corners > .corners-bottom {
    height: 9px;
}
#page .white-corners > .corners-top:before, #page .white-corners > .corners-top:after,
#page .white-corners > .corners-bottom:before, #page .white-corners > .corners-bottom:after {
    width: 10px;
    height: 10px;
}
#page .white-corners > .corners-top:before {
    background-position: 0 -30px;
}
#page .white-corners > .corners-top:after {
    background-position: -15px -30px;
}
#page .white-corners > .corners-bottom:before {
    background-position: -45px -30px;
    top: -2px;
}
#page .white-corners > .corners-bottom:after {
    background-position: -30px -30px;
    top: -2px;
}
#page .white-corners > .corners-top span, #page .white-corners > .corners-bottom span {
    height: 8px;
    background-color: #fff;
    left: 8px;
    right: 8px;
}
#page .white-corners > .corners-top span {
    height: 9px;
}
#page .white-corners > .corners-top span {
    border-top: 1px solid #bebfc1;
}
#page .white-corners > .corners-bottom span {
    border-bottom: 1px solid #bebfc1;
}
#page .white-corners > .rounded-content {
    background-color: #fff;
    border-left: 1px solid #bebfc1;
    border-right: 1px solid #bebfc1;
}
/* blue rounded corners */
#page .blue-corners > .corners-bottom:before,
#page .blue-corners > .corners-bottom:after {
    width: 9px;
    height: 9px;
}
#page .blue-corners > .corners-bottom:before {
    background-position: -100px -30px;
}
#page .blue-corners > .corners-bottom:after {
    background-position: -115px -30px;
}
#page .blue-corners > .corners-bottom span {
    height: 7px;
    background-color: #1c374d;
    left: 8px;
    right: 8px;
    border-bottom: 1px solid #fff;
}
/* blue-orange rounded corners */
#page .blue-orange-corners {
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
    background-color: #1c374d;
}
#page .blue-orange-corners > .corners-top, #page .blue-orange-corners > .corners-bottom {
    height: 6px;
}
#page .blue-orange-corners > .corners-top:before, #page .blue-orange-corners > .corners-top:after,
#page .blue-orange-corners > .corners-bottom:before, #page .blue-orange-corners > .corners-bottom:after {
    width: 7px;
    height: 7px;
}
#page .blue-orange-corners > .corners-top:before {
    background-position: -60px -50px;
}
#page .blue-orange-corners > .corners-top:after {
    background-position: -70px -50px;
}
#page .blue-orange-corners > .corners-bottom:before {
    background-position: -90px -50px;
}
#page .blue-orange-corners > .corners-bottom:after {
    background-position: -80px -50px;
}
#page .blue-orange-corners > .corners-top span, #page .blue-orange-corners > .corners-bottom span {
    height: 6px;
    background-color: #1c374d;
    left: 6px;
    right: 6px;
}
#page .blue-orange-corners > .corners-top span:before, #page .blue-orange-corners > .corners-bottom span:before {
    content: "";
    display: block;
    border-top: 2px dashed #c66f12;
    height: 0;
}
#page .blue-orange-corners > .corners-top span:before {
    margin-top: 3px;
}
#page .blue-orange-corners > .corners-bottom span:before {
    margin-top: 1px;
}
#page .blue-orange-corners > .rounded-content {
    margin: 0 3px;
    border-left: 2px dashed #c66f12;
    border-right: 2px dashed #c66f12;
    padding: 6px 25px;
    color: #fff !important;
}
/* sprite icons */
#page .icon-cross-orange,
#page .icon-triangle-orange-up, #page .icon-triangle-orange-down,
#page .icon-cross-white,
#page .icon-clip {
    background: url("../images/popup-sprite.png");
    display: inline-block;
}
#page .icon-cross-orange {
    width: 28px;
    height: 28px;
    background-position: -100px 0;
}
#page .icon-triangle-orange-up, #page .icon-triangle-orange-down {
    width: 15px;
    height: 12px;
}
#page .icon-triangle-orange-up {
    background-position: -60px -30px;
}
#page .icon-triangle-orange-down {
    background-position: -80px -30px;
}
#page .icon-cross-white {
    width: 11px;
    height: 11px;
    background-position: 0 -50px;
}
#page .icon-clip {
    width: 32px;
    height: 32px;
    background-position: -20px -50px;
}