#page .clearbox:after {
    content: '';
    display: block;
    clear: both;
}

/* post */
#page .post-box-wrapper {
    width: 620px;
}
#page .post-wrap {
    width: 100%;
    max-width: 620px;
    margin-bottom: 35px;
}
#page .post-author,
#page .comment-author {
    float: left;
    width: 51px;
    height: 51px;
    margin-left: 5px;
    padding: 0;
    background: url("../images/boxes-sprite.png") -717px -40px no-repeat;
    line-height: 54px;
    text-align: center;
    color: #FF8200;
    font-size: 12px;
}
#page .post,
#page .post-top-side,
#page .post-bottom-side {
    background: #F9F9F9;
}
#page .post,
#page .comment {
    float: right;
    width: 540px;
    box-sizing: border-box;
}
#page .post {
    border-left: 1px solid #D9DADB;
    border-right: 1px solid #D9DADB;
}
#page .post-body {
    position: relative;
    padding: 10px 20px;
}

/* post-top-side */
#page .post-top-side,
#page .post-bottom-side {
    position: relative;
    height: 7px;
}
#page .post-top-side {
    border-top: 1px solid #D9DADB;
}
#page .post-top-side:before,
#page .post-top-side:after,
#page .post-bottom-side:before,
#page .post-bottom-side:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;

}
#page .post-top-side:before,
#page .post-top-side:after {
    top: -1px;
}
#page .post-top-side:before {
    left: -1px;
    background: url(../images/boxes-sprite.png) -276px 0 no-repeat;
}
#page .post-top-side:after {
    right: -1px;
    background: url(../images/boxes-sprite.png) -289px 0 no-repeat;
}

/* post-bottom-side */
#page .post-bottom-side:before,
#page .post-bottom-side:after {
    bottom: -1px;
}
#page .post-bottom-side {
    border-bottom: 1px solid #D9DADB;
}
#page .post-bottom-side:before {
    left: -1px;
    background: url(../images/boxes-sprite.png) -276px -15px no-repeat;
}
#page .post-bottom-side:after {
    right: -1px;
    background: url(../images/boxes-sprite.png) -289px -15px no-repeat;
}

/* post article */
#page .post-title {
    margin: 5px 0;
    color: #FF8200;
    font-weight: normal;
}
#page .post-article {
    margin: 0;
	color: #757575;
    overflow: auto;
}
#page .post-document-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
#page .post-document-item {
    margin-bottom: 5px;
    font-weight: bold;
}
#page .post-document-download {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    color: #75787b;
}
#page .post-document-download:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 5px;
    background: url(../images/post-sprite.png) 0 0 no-repeat;
}
#page .post-document-download:hover {
    color: #545658;
}
#page .post-published-date,
#page .comment-published-date {
    font-size: 10px;
    color: #808080;
}
#page .comment-published-date {
    margin-left: 4px;
}

/* form */
#page .post-comment-field {
    margin: 18px 0 12px;
    border-left: 1px solid #BCBEC0;
    border-right: 1px solid #BCBEC0;
    background: #FFF;
}
#page .comment-editor .post-comment-field {
    margin-top: 0;
}
#page .post-comment-field textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    min-height: 75px;
    border: 0 none;
    font: 10px Verdana, Geneva, sans-serif;
    color: #808080;
    box-sizing: border-box;
}
#page .post-comment-field textarea:active,
#page .post-comment-field textarea:focus {
    outline: 0 none;
}
#page .post-comment-top-side,
#page .post-comment-bottom-side {
    position: relative;
    height: 4px;
}
#page .post-comment-top-side {
    border-top: 1px solid #BCBEC0;
}
#page .post-comment-bottom-side {
    border-bottom: 1px solid #BCBEC0;
}
#page .post-comment-top-side:before,
#page .post-comment-top-side:after,
#page .post-comment-bottom-side:before,
#page .post-comment-bottom-side:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
}
#page .post-comment-top-side:before,
#page .post-comment-top-side:after {
    top: -1px;
}
#page .post-comment-top-side:before {
    left: -1px;
    background: url(../images/boxes-sprite.png) -301px 0 no-repeat;
}
#page .post-comment-top-side:after {
    right: -1px;
    background: url(../images/boxes-sprite.png) -313px 0 no-repeat;
}
#page .post-comment-bottom-side:before,
#page .post-comment-bottom-side:after {
    bottom: -1px;
}
#page .post-comment-bottom-side:before {
    left: -1px;
    background: url(../images/boxes-sprite.png) -301px -12px no-repeat;
}
#page .post-comment-bottom-side:after {
    right: -1px;
    background: url(../images/boxes-sprite.png) -313px -12px no-repeat;
}
#page .post-comment-btn {
	display: inline-block;
    width: 67px;
    border: 0 none;
    background: url(../images/comment-btn-bg.png) 0 0 no-repeat;
    color: #FFF;
    font: 14px Verdana, Geneva, sans-serif;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
#page .post-comment-btn:active,
#page .post-comment-btn:focus {
    outline: 0 none;
}

/* view and like statistics */
#page .post-statistics {
    position: absolute;
    right: 20px;
    bottom: 15px;
}
#page .post-views-statistic,
#page .post-likes-statistic,
#page .comment-likes-statistic {
    display: inline-block;
    margin-left: 5px;
    color: #FF8200;
}
#page .post-likes-statistic:first-child,
#page .comment-likes-statistic:first-child {
     margin-left: 0;
}
#page .post-icon-thumb,
#page .post-icon-eye {
    display: inline-block;
}
#page .post-icon-thumb {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/post-sprite.png) -42px 0 no-repeat;
}
#page .post-icon-eye {
    display: inline-block;
    width: 20px;
    height: 13px;
    background: url(../images/post-sprite.png) -18px 0 no-repeat;
}

/* comments */
#page .comment-wrap {
    width: 100%;
    max-width: 620px;
    margin-bottom: 25px;
}
#page .comment-body {
    margin-bottom: 12px;
}
#page .post-like-btn,
#page .comment-like-btn {
    display: inline-block;
    cursor: pointer;
}
#page .comment-editor-wrap {
	margin-bottom: 10px;
}