/* filter */
#page .post-filter-wrap {
    margin: 12px 0 12px 80px;
    list-style: none;
    font-size: 10px;
}
#page .post-filter-item {
    position: relative;
    float: left;
    margin-left: 20px;
    cursor: pointer;}
#page .post-filter-item.active {
    color: #FF8200;
    font-weight: bold;
}
#page .post-filter-item:before {
    content: '|';
    position: absolute;
    top: 0;
    left: -12px;
    color: #FF8200;
    font-weight: normal;
}
#page .post-filter-item:first-child {
    margin-left: 0;
}
 #page .post-filter-item:first-child:before {
    display: none;
}
#page .post-filter-icon {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 5px;
    background: url(../images/post-sprite.png) -63px -8px no-repeat;
}
#page .post-filter-item.active .post-filter-icon {
    background-position: -63px 1px;
}

/* post list */
#page .post-list-wrap .post-wrap {
    margin-bottom: 20px;
}
#page .post-list-wrap .post-body {
    padding: 0 20px 13px;
}
#page .post-list-wrap .post-title {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}
#page .post-info {
    font-size: 10px;
	color: #757575;
}
#page .post-comments-counter {
    font-weight: bold;
}
#page .post-emphasis {
    color: #FF8200;
}
#page .post-list-wrap .post-statistics {
    right: 10px;
    bottom: -2px;
}

/* pagination */
#page .paginate-control {
    margin: 15px 0;
    list-style: none;
    font-size: 10px;
    color: #FF8200;
}
#page .page {
    float: left;
    margin-left: 5px;
    font-weight: bold;    cursor: pointer;}
#page .page:first-child {
    margin-left: 0;
}

#page .page.active {
    text-decoration: underline;
}#page .page.disable {    color: #75787B;    cursor: default;}