#page div, #page span, #page applet, #page object, #page iframe,
#page h1, #page h2, #page h3, #page h4, #page h5, #page h6, #page p, #page blockquote, #page pre,
#page a, #page abbr, #page acronym, #page address, #page big, #page cite, #page code,
#page del, #page dfn, #page em, #page img, #page ins, #page kbd, #page q, #page s, #page samp,
#page small, #page strike, #page strong, #page sub, #page tt, #page var,
#page b, #page u, #page i, #page center, #page dl, #page dt, #page dd, #page ol, #page ul, #page li,
#page fieldset, #page form, #page label, #page legend, #page table, #page caption, #page tbody, #page tfoot, #page thead, #page tr, #page th, #page td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#page table {
    border-collapse: collapse;
    border-spacing: 0;
}
#page textarea {
    resize: none;
    overflow: auto;
}
#ctl00_PlaceHolderLeftNavBar_QuickLaunchNavigationManager li.TSChild:first-child {
    display: none !important;
}