#page {
  font: 12px Verdana, Geneva, sans-serif;
  color: #75787B;
}
#page h1 {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
}
#page h2 {
  font-size: 18px;
}
#page h3 {
  font-size: 14px;
  font-weight: bold;
}
#page h4 {
  font-size: 12px;
  font-weight: bold;
}
#page sup {
  vertical-align: text-top !important;
  font-size: 0.7em;
}