<div class="category-box-wrapper">
    <h5 class="category-box-title">
        Category
        <a href="postFeed.aspx" class="reset" ng-show="showResBtn">reset filter</a>
    </h5>
    <div class="category-box">
        <div class="category-box-content">
            <ul class="categories-list">
                <li ng-repeat="(category, subcategories) in items">
                    <h4 class="category-title" ng-bind-html="category"></h4>
                    <ul class="subcategory-list">
                        <li ng-repeat="item in subcategories" ng-class="{active: item.ID == currentCatID}">
                            <a href="postFeed.aspx?catID={{item.ID}}" title="{{item.Title}}" ng-bind-html="item.Title"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>