<div class="comment-editor-wrap" ng-if="isAuthor">
    <button type="button" class="post-comment-btn"
            ng-click="editStart()" ng-if="!isEditorActive">Edit</button>
    <div class="comment-editor" ng-if="!!isEditorActive">
        <div class="post-comment-field">
            <div class="post-comment-top-side"></div>
            <textarea placeholder="Comment on this post" ng-model="comment.BodyText"></textarea>
            <div class="post-comment-bottom-side"></div>
        </div>
        <button type="button" class="post-comment-btn" ng-click="saveChanges()">Save</button>
        <button type="button" class="post-comment-btn" ng-click="cancelChanges()">Cancel</button>
    </div>
</div>