<div ng-repeat="comment in comments" class="comment-wrap clearbox">
    <div class="comment-author" ng-bind="comment.Author"></div>
    <div class="comment j-comment">
        <div class="comment-body j-comment-body" ng-bind-html="comment.BodyText"></div>
        <div novo-comment-edit comment="{{comment}}"></div>

        <div class="comment-footer">
            <div class="comment-likes-statistic">
                <a class="comment-like-btn" ng-click="likeComment(comment.ID)">
                    <i class="post-icon-thumb"></i>
                </a>
                <span class="comment-likes-counter" ng-bind="comment.LikesAmount"></span>
            </div>
			<span class="comment-published-date">
				Submitted {{comment.SubmissionDate}}
			</span>
        </div>
    </div>
</div>