<div class="popup-wrapper">
    <div class="popup rounded-container orange-corners">
        <div class="corners-top"><span></span></div>
        <a href="#" class="popup-close icon-cross-orange" ng-click="closePopup()"></a>
        <!--initial view-->
        <div class="rounded-content step-initial" ng-show="currentStep === 'initial'">
            <h2>Upload your best practice</h2>
            <div class="dropdown" ng-class="showCategories ? 'expanded' : 'collapsed'">
                <div class="dropdown-box rounded-container white-corners" ng-click="showCategories = !showCategories">
                    <div class="corners-top"><span></span></div>
                    <div class="rounded-content">
                        <span class="dropdown-box-title" ng-bind-html="activeCat || 'Select category'"></span>
                        <span class="icon-triangle-orange-up"></span>
                        <span class="icon-triangle-orange-down"></span>
                    </div>
                    <div class="corners-bottom"><span></span></div>
                </div>
                <div class="dropdown-options rounded-container blue-corners">
                    <ul>
                        <li ng-repeat="category in categories"
                            ng-bind-html="category.Title"
                            ng-click="setActive(category)"></li>
                    </ul>
                    <div class="corners-bottom"><span></span></div>
                </div>
            </div>
            <p class="field-title">Title</p>
            <div class="text-field rounded-container white-corners">
                <div class="corners-top"><span></span></div>
                <div class="rounded-content">
                    <input type="text" ng-model="title" ng-model-options="{ updateOn: 'blur' }">
                </div>
                <div class="corners-bottom"><span></span></div>
            </div>
            <p class="field-title">Description</p>
            <div class="text-area rounded-container white-corners">
                <div class="corners-top"><span></span></div>
                <div class="rounded-content">
                    <textarea ng-model="bodyText" ng-model-options="{ updateOn: 'blur' }"></textarea>
                </div>
                <div class="corners-bottom"><span></span></div>
            </div>
            <p class="notification">If you want to upload a video and it is bigger than 50 mb, please upload it to
                NovoTube and add a link to the video to the description of your best practice.</p>
            <a href="#" class="upload-button rounded-container blue-orange-corners" ng-click="addPost()">
                <div class="corners-top"><span></span></div>
                <div class="rounded-content">Add files</div>
                <div class="corners-bottom"><span></span></div>
            </a>
            <!--
            try of implementation. But client have not approved, so it was hidden !!!

            <a href="#" class="upload-button rounded-container blue-orange-corners" ng-click="createPostWithoutUpload()">
                <div class="corners-top"><span></span></div>
                <div class="rounded-content">Finish</div>
                <div class="corners-bottom"><span></span></div>
            </a>-->
        </div>
        <!--files view-->
        <div class="rounded-content step-uploads" ng-show="currentStep === 'uploads'">
            <div file-manager post-id="postID" uploads="uploads"></div>
            <a href="#" class="upload-button rounded-container blue-orange-corners" ng-click="finish()">
                <div class="corners-top"><span></span></div>
                <div class="rounded-content">Finish</div>
                <div class="corners-bottom"><span></span></div>
            </a>
        </div>
        <!--loader view-->
        <div class="rounded-content step-processing" ng-show="currentStep === 'processing'"></div>
        <!--final view-->
        <div class="rounded-content step-final" ng-show="currentStep === 'final'">
            <h2>Thank you for sharing.</h2>
        </div>
        <!--error view-->
        <div class="rounded-content step-error" ng-show="currentStep === 'error'">
            <h2>Oops! Something went wrong. Try to submit your post later.</h2>
        </div>
        <div class="corners-bottom"><span></span></div>
    </div>
</div>