<ul ng-show="uploads.length">
    <li ng-repeat="upload in uploads">
        {{upload.FileName}} <a href="#" class="icon-cross-white" ng-click="remove(upload, uploads)"></a>
    </li>
</ul>
<div id="uploadBox"></div>