<div class="post-author" ng-bind="post.Author"></div>
<div class="post">
    <div class="post-top-side"></div>
    <div class="post-body">
        <h2 class="post-title" ng-bind="post.Title"></h2>
        <p class="post-article" ng-bind-html="post.BodyText"></p>
        <ul class="post-document-list">
            <li ng-repeat="attachment in attachments" class="post-document-item">
                <a class="post-document-download"
                   href="/{{attachment.FileRef}}"
                   target="_blank"
                   ng-bind="attachment.FileName"></a>
            </li>
        </ul>
        <p class="post-published-date">
            Submitted <span ng-bind="post.SubmissionDate"></span>
        </p>
        <div class="post-comment-form">
            <div class="post-comment-field">
                <div class="post-comment-top-side"></div>
                <textarea
                        placeholder="Comment on this post"
                        ng-model="commentText"
                        ng-model-options="{ updateOn: 'blur' }"></textarea>
                <div class="post-comment-bottom-side"></div>
            </div>
            <input ng-click="addComment()"
                   class="post-comment-btn"
                   type="button"
                   value="Post">
        </div>
        <div class="post-statistics">
            <div class="post-views-statistic">
                <i class="post-icon-eye"></i>
                <span class="post-views-counter" ng-bind="post.Counter_x003a_Views | number:0"></span>
            </div>
            <div class="post-likes-statistic">
                <a class="post-like-btn" ng-click="likePost(post.ID)">
                    <i class="post-icon-thumb"></i>
                </a>
                <span class="post-likes-counter" ng-bind="post.LikesAmount"></span>
            </div>
        </div>
    </div>
    <div class="post-bottom-side"></div>
</div>