<!-- filter -->
<ul class="post-filter-wrap clearbox" ng-if="postList.length >= 2">
    <li class="post-filter-item" ng-class="{active: order.isActive('recent')}"
        ng-click="order.setValue('recent')">
        <span class="post-filter-title">Recent</span>
        <i class="post-filter-icon"></i>
    </li>
    <li class="post-filter-item" ng-class="{active: order.isActive('popular')}"
        ng-click="order.setValue('popular')">
        <span class="post-filter-title">Popular</span>
        <i class="post-filter-icon"></i>
    </li>
</ul>

<!-- post list -->
<div class="post-list-wrap">
    <div class="post-wrap clearbox" ng-repeat="post in postList | orderBy: order.value">
        <div class="post-author">
            {{post.Author.initials}}
        </div>
        <div class="post">
            <div class="post-top-side"></div>
            <div class="post-body">
                <a ng-href="post.aspx?catID={{post.CategoryID}}&postID={{post.ID}}"
                   class="post-title">{{post.LinkTitle}}</a>
                <p class="post-info">
                    Submitted by <span class="post-emphasis">{{post.Author.fullName}}</span>
                    to <span class="post-emphasis" ng-bind-html="categoryList[post.CategoryID]"></span>
                    {{helper.getRelativeTime(post.Created)}}
                    <br>
                    <span class="post-comments-counter">
                        {{post.Counter_x003a_Comments | number:0}}
                        {{helper.declension(post.Counter_x003a_Comments, ['Comment','Comments']);}}
                    </span>
                </p>
                <div class="post-statistics">
                    <div class="post-views-statistic">
                        <i class="post-icon-eye"></i>
                        <span class="post-views-counter">{{post.Counter_x003a_Views | number:0}}</span>
                    </div>
                    <div class="post-likes-statistic">
                        <i class="post-icon-thumb"></i>
                        <span class="post-likes-counter">{{post.Counter_x003a_Likes | number:0}}</span>
                    </div>
                </div>
            </div>
            <div class="post-bottom-side"></div>
        </div>
    </div>
</div>

<!-- pagination -->
<ul class="paginate-control clearbox" ng-if="initialPostList.length > pagination.maxPostAmount">
    <li class="page first-page"
        ng-show="pagination.currentPage != 0"
        ng-click="pagination.goToPage(0)">
        <span>&laquo;</span>
    </li>
    <li class="page prev-page"
        ng-show="pagination.currentPage != 0"
        ng-click="pagination.goToPrevPage()">
        <span>&lt;</span>
    </li>
    <li class="page" ng-repeat="page in pagination.pageList"
        ng-class="{active: $index == pagination.currentPage}"
        ng-click="pagination.goToPage($index)">
        <span>{{$index + 1}}</span>
    </li>
    <li class="page next-page"
        ng-show="pagination.currentPage != pagination.pageList.length - 1"
        ng-click="pagination.goToNextPage()">
        <span>&gt;</span>
    </li>
    <li class="page last-page"
        ng-show="pagination.currentPage != pagination.pageList.length - 1"
        ng-click="pagination.goToPage(pagination.pageList.length - 1)">
        <span>&raquo;</span>
    </li>
</ul>