<ul class="posts-box-list">
    <li ng-repeat="item in items">
        <h2><a href="post.aspx?postID={{item.ID}}&catID={{item.Category.ID}}" title="item.Title" ng-bind="item.Title"></a></h2>
        <div class="post-info">
            <div class="post-details">
                <p>
                    Submitted by <span class="active-info" ng-bind="item.Author"></span>
                </p>
                <p>
                    In <span class="active-info" ng-bind-html="item.Category.Title"></span>
                </p>
            </div>
            <div class="post-stat">
                <span class="active-info comments" ng-bind="item.Comments"></span>
                <span class="active-info views" ng-bind="item.Views"></span>
                <span class="active-info likes" ng-bind="item.Likes"></span>
            </div>
        </div>
    </li>
</ul>
<div class="posts-show-more">
    <a href="postFeed.aspx?sortBy={{sortBy}}">See more best practice topics &gt;</a>
</div>