<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Boxes</title>
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <div id="page">
            <!-- {{{ Home page -->
            <div id="home-page" class="justified-layout">
                <div class="justified-column">
                    <div id="intro-box" class="intro-box">
                        <div class="intro-box-content">
                             <h3>
                                Welcome to the NovoRapid®
                                RapidHub our digital forum.
                            </h3>
                            <h3>Here you can:</h3>
                            <ul>
                                <li><span>Boost internal engagement</span></li>
                                <li><span>Share best practice</span></li>
                                <li><span>‘steal’ great ideas and inspire others</span></li>
                                <li><span>Unify the NovoRapid® team</span></li>
                                <li><span>Promote all-round excellence</span></li>
                            </ul>
                        </div>
                    </div>
                     <div class="join-box">
                        <div class="join-box-content">
                            <h2>Want to join in?</h2>
                            <input class="compose-post-btn" type="button" value="Compose new post" />
                        </div>
                    </div>
                </div>
                <div class="justified-column">
                    <div class="posts-box">
                        <div class="posts-box-content">
                            <ul class="posts-box-tabs">
                                <li class="active">Most Recent</li>
                                <li>Most Popular</li>
                            </ul>
                            <ul class="posts-box-list">
                                <li>
                                    <h2><a href="#" title="">Post title</a></h2>
                                    <div class="post-info">
                                        <div class="post-details">
                                            <p>
                                                Submitted by <span class="active-info">User</span>
                                            </p>
                                            <p>
                                                In <span class="active-info">Category-Name</span>
                                            </p>
                                        </div>
                                        <div class="post-stat">
                                            <span class="active-info comments">12</span>
                                            <span class="active-info views">201</span>
                                            <span class="active-info likes">45</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h2><a href="#" title="">Post title</a></h2>
                                    <div class="post-info">
                                        <div class="post-details">
                                            <p>
                                                Submitted by <span class="active-info">User</span>
                                            </p>
                                            <p>
                                                In <span class="active-info">Category-Name</span>
                                            </p>
                                        </div>
                                        <div class="post-stat">
                                            <span class="active-info comments">12</span>
                                            <span class="active-info views">201</span>
                                            <span class="active-info likes">45</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="posts-show-more">
                                <p>See more best practice topics &gt;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justified-column">
                    <img src="../images/new-feature.png" alt="Widgets block" />
                </div>
            </div>
            <!-- }}} END Home page -->

            <!-- {{{ Discussion page -->
             <div id="discussion-page" class="justified-layout">
                <div class="justified-column">
                    <div class="category-box-wrapper">
                        <h5 class="category-box-title">Category</h5>
                        <div id="category-box" class="category-box">
                            <div class="category-box-content">
                                <ul class="categories-list">
                                    <li>
                                        <h3 class="category-title">Category 1 title</h3>
                                        <ul class="subcategory-list">
                                            <li class="active">
                                                <a href="#" title="">Sub-category 1 - name 1<br /> Sub-category 1 - name 1</a>
                                            </li>
                                            <li>
                                                 <a href="#" title="">Sub-category 1 - name 2</a>
                                            </li>
                                            <li>
                                                 <a href="#" title="">Sub-category 1 - name 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3 class="category-title">Category 2 title</h3>
                                        <ul class="subcategory-list">
                                            <li>
                                                <a href="#" title="">Sub-category 2 - name 1<br /> Sub-category 2 - name 1</a>
                                            </li>
                                            <li>
                                                 <a href="#" title="">Sub-category 2 - name 2</a>
                                            </li>
                                            <li>
                                                 <a href="#" title="">Sub-category 2 - name 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="join-box-extended">
                        <h2>Want to join in?</h2>
                        <ul>
                            <li><span>What can you add to the ideas given here?</span></li>
                            <li><span>What’s the most valuable advice for you?</span></li>
                            <li><span>Any tips for putting this advice into practice?</span></li>
                        </ul>
                        <input class="compose-post-btn" type="button" value="Compose new post" />
                    </div>
                </div>
            </div>
            <!-- }}} END Discussion page -->
        </div>
    </body>
</html>
