<div id="page" ng-app="novoApp" ng-controller="pageCtrl">
    <div class="header" novo-header></div>

    <div class="justified-layout">
        <div class="justified-column">
            <div class="category-box-wrapper">
                <h5 class="category-box-title">Category</h5>
                <div class="category-box">
                    <!-- Category Box holder -->
                    <div category-box class="category-box-content"></div>
                </div>
            </div>
            <div class="join-box-extended">
                <h2>Want to join in?</h2>
                <ul>
                    <li><span>What can you add to the ideas given here?</span></li>
                    <li><span>What's the most valuable advice for you?</span></li>
                    <li><span>Any tips for putting this advice into practice?</span></li>
                </ul>
                <input class="compose-post-btn" type="button" value="Compose new post">
            </div>
        </div>
        <div class="justified-column">
            <div class="post-box-wrapper">
                <!-- Post Box -->
                <div post-box class="post-wrap clearbox"></div>
                <!-- Comment Box -->
                <div comment-box class="comment-list-wrap" current-user="{{currentUser}}"></div>
            </div>
        </div>
    </div>

    <div class="footer" novo-footer></div>
    <div create-post ng-show="showPopup" show-popup="showPopup"></div>
</div>