<!--css-->
<link rel="stylesheet" href="/sites/Novorapidsharingplatform/System/css/main.min.css"/>

<!--javascript-->
<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/main.min.js"></script>

<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/jquery.SPServices-2014.02.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/jquery.SPWidgets.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/jquery.xml2json.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/angular.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/angular-cookies.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/angular-sanitize.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/lib/moment.min.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/app.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/dataService.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/getList.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/getUser.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/helper.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/likesManager.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/services/postViewStatistic.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/categoryBox.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/commentBox.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/commentEdit.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/createPost.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/fileManager.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/footer.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/header.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/postBox.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/postFeed.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/simpleFeed.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/directives/webPartContent.js"></script>-->
<!--<script type="text/javascript" src="/sites/Novorapidsharingplatform/System/js/controllers/page.js"></script>-->