<div id="page" ng-app="novoApp" ng-controller="pageCtrl" class="home-page">
    <div class="header" novo-header></div>

    <div class="justified-layout">
        <div class="justified-column">
            <div web-part-content web-part-name="intro-box"></div>

            <div class="join-box">
                <div class="join-box-content">
                    <h2>Want to join in?</h2>
                    <input ng-click="showPopup = true"
                           class="compose-post-btn"
                           type="button"
                           value="Upload your best practice"/>
                </div>
            </div>
        </div>

        <div class="justified-column">
            <div class="posts-box">
                <div class="posts-box-content">
                    <ul class="posts-box-tabs" ng-init="activeTab = 0">
                        <li ng-class="{active: activeTab === 0}" ng-click="activeTab = 0">Most Recent</li>
                        <li ng-class="{active: activeTab === 1}" ng-click="activeTab = 1">Most Popular</li>
                    </ul>
                    <div simple-feed sort-by="recent" ng-show="activeTab === 0"></div>
                    <div simple-feed sort-by="popular" ng-show="activeTab === 1"></div>
                </div>
            </div>
        </div>

        <div class="justified-column">
            <div class="new-feature">
                <img src="/sites/Novorapidsharingplatform/System/images/new-feature.png" alt="Widgets block"/>
                <strong class="new-feature-title">The world's #1 prescribed<br> rapid-acting insulin</strong>
            </div>

        </div>
    </div>

    <div class="footer" novo-footer></div>
    <div create-post ng-show="showPopup" show-popup="showPopup"></div>
</div>