<div id="page" ng-app="novoApp" ng-controller="pageCtrl">
    <div class="header" novo-header></div>

    <div class="justified-layout">
        <div class="justified-column">
            <div category-box></div>

            <div class="join-box-extended">
                <div web-part-content web-part-name="join-box-extended"></div>
                <input ng-click="showPopup = true"
                       class="compose-post-btn"
                       type="button"
                       value="Upload your best practice">
            </div>
        </div>
        <div class="justified-column">
            <div class="post-box-wrapper">
                <!-- Post Box -->
                <div post-box class="post-wrap clearbox"></div>
                <!-- Comment Box -->
                <div comment-box class="comment-list-wrap"></div>
            </div>
        </div>
    </div>

    <div class="footer" novo-footer></div>
    <div create-post ng-show="showPopup" show-popup="showPopup"></div>
</div>