<div id="page" ng-app="novoApp" ng-controller="pageCtrl">
    <div class="header" novo-header></div>

    <div class="justified-layout">
        <div class="justified-column">
            <div category-box show-reset="true"></div>

            <div class="join-box-extended">
                <div web-part-content web-part-name="join-box-extended"></div>
                <input ng-click="showPopup = true"
                       class="compose-post-btn"
                       type="button"
                       value="Upload your best practice">
            </div>
        </div>
        <div class="justified-column">
            <div novo-post-feed class="post-box-wrapper"></div>
        </div>
    </div>

    <div class="footer" novo-footer></div>
    <div create-post ng-show="showPopup" show-popup="showPopup"></div>
</div>